* {
    box-sizing: border-box;
}

.column {
    float: left;
    padding: 15px;
}

.left {
    width: 60%;
}

.right {
    width: 40%;
}

.equal {
    width: 25%;
}

@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}